@import "tailwindcss";
@plugin 'daisyui';
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  /* max-width: 1400px;
    width: 80%;
    margin: 0 auto; */
  font-family: "Roboto", sans-serif;
}

/* @media screen and (max-width: 1025px) {
  body {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  body {
    width: 97%;
  }
} */

#banner {
  background: url("assets/bg-shadow.png"), #131313;
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover, cover;
}
#newsletter {
  background: url("assets/bg-shadow.png"), white;
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover, cover;
}
